/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}

.css-14pt78w-MuiSlider-rail{
    background: #828282;
}

.css-eg0mwd-MuiSlider-thumb{
    background: #27AE60;
}

.css-eg0mwd-MuiSlider-thumb::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    width: 10px;
    height: 10px;
}

.css-1gv0vcd-MuiSlider-track{
    background: #27AE60;
    border: none;
}